<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

  <script>

  $(document).ready(function(){
  	alert("hi")
  $.ajax({
	  url: "http://127.0.0.1:8000/blog-api/users/",
	  success: function(result){console.log(result)}
	})
});

  console.log("asdsad")
  </script>